:root {
  font-size: 16px; /* fixes a stupid bootstrap setting in the html block */
  /* see https://www.modularscale.com/?16&px&1.25 
     uses rems because bootstrap styles frequently change the font size */
  --text-4xl: 3.815rem;
  --text-3xl: 3.052rem;
  --text-2xl: 2.441rem;
  --text-xl:  1.953rem;
  --text-l:   1.563rem;
  --text-m:   1.250rem; /* this is body text size (20px) */
  --text-s:   1.000rem;
  --text-xs:  0.800rem;
  --text-2xs: 0.640rem;
  --text-3xs: 0.512rem;

  --purple-60: #8a3ffc;
  --gray-90: #262626;
  --gray-80: #393939;
  --gray-70: #525252;
  --gray-60: #6f6f6f;
  --gray-50: #8d8d8d;
}
body {
  font-family: 'Lora', serif;
  background: url("/blog/static/img/subtle_dots.png");
  line-height: 1.5em;
  font-weight: 400;
  font-size: var(--text-m);
  color: var(--gray-90);
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #F7F1F1;
  border-bottom: 1px solid #fff;
}
span.time, span.categories{
  font-family: 'Sarabun', sans-serif;
  color: var(--gray-70);
  margin-bottom: 5px;
  font-size: var(--text-s);
}
h1, h2, h3 {
  font-family: 'Sarabun', sans-serif;
  color: var(--gray-90);
  font-weight: 400;
}
h1 {
  font-size: var(--text-3xl);
  margin-bottom: 10px;
}
h2 {
  font-size: var(--text-xl);
  margin-bottom: 5px;
}
h3 {
  font-size: var(--text-l);
  font-weight: 600;
  margin-bottom: 5px;
}
a, a:link, a:active {
  text-decoration: none;
  color: var(--purple-60);
}
a:hover {
  color: var(--gray-50);
  text-decoration: underline;
}
.author-name {
  font-family: 'Lora', serif;
  font-size: var(--text-2xl);
  font-weight: 500;
}

/* JetBrainsMono-Regular */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'),
       url('../fonts/JetBrainsMono-Regular.woff') format('woff');
}

code,kbd,pre,samp {
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, monospace;
  font-weight: 400;
}

/* Layout */
.main-layout {
  background: #fff;
}
.sidebar-nav {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  margin: 0;
  list-style: none;
}
.sidebar-nav li::before {
  content: "»";
  margin-right: .5em;
}

/* Content */
div.content pre {
  background: var(--gray-90);
  padding: 10px;
  color: #FFF;
  overflow-x: auto;
  font-size: var(--text-s);
  border: none;
}
div.content .highlight {
	background: var(--gray-80);
}
footer {
  border-top: 1px solid #F7F1F1;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 3em;
  padding-top: 10px;
  color: var(--gray-70);
  font-family: 'Sarabun', sans-serif;
  font-weight: 200;
  font-size: var(--text-xs);
  bottom: 0;
  padding-bottom: 10px;
}

/* Left column */
div.col-sm-3 {
  margin-top: 100px;
  font-size: var(--text-s);
  color: var(--gray-60);
}
div.col-sm-3 strong {
  font-size: var(--text-m);
  color: var(--gray-80);
  font-weight: 400;
}
div.col-sm-3 div.profile-about {
  font-family: 'Sarabun', sans-serif;
  font-size: var(--text-s);
  line-height: 20px;
  margin-top: 10px;
  color: var(--gray-70);
}

/* Pagination */
.PageNavigation {
  font-size: var(--text-s);
  display: block;
  width: auto;
  overflow: hidden;
}
.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}
.PageNavigation .next {
  text-align: right;
}
.PageNavigation .prev {
  text-align: left;
}

/* Post Image */
.post__image {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Image Caption */
.caption {
  font-family: 'Sarabun', sans-serif;
  color: var(--gray-70);
  margin-bottom: 1.5rem;
  font-size: var(--text-xs);
  text-align: right;
}

/* Post Image Caption */
.post__caption {
  font-family: 'Sarabun', sans-serif;
  color: var(--gray-70);
  margin-bottom: 1.5rem;
  font-size: var(--text-xs);
  text-align: center;
}

/* Social Icons */
.social{
  display: block;
  margin: 10px 0;
}
.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social ul li {
  display: inline-block;
  margin: 0 5px;
}
.social li a {
  font-size: var(--text-m);
  color: var(--gray-50);
}
.social li a:hover {
  color: var(--gray-70);
}

.share-page {
  padding: 10px 10px 5px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.post-content img,
.content img {
  max-width: 100%
}

/* Responsive Conditional */
@media (min-width: 1024px) {
  .fixed-condition {
    position: fixed;
    max-width: 255px;
  }
}
@media (max-width: 768px) {
  div.col-sm-3 {
    margin-top: 30px;
  }
}
